@use "@/styles/partials/variables" as *;
@use "@/styles/partials/mixins" as *;
@use "@/styles/partials/globals" as *;

.video-snippet {
  display: flex;
  margin-bottom: 1rem;
  cursor: pointer;
  @include respond-to-min($desktop) {
    margin-bottom: 2rem;
  }
  &__image-wrapper {
    width: 9.375rem; // 150px
    min-width: 9.375rem; // 150px
    max-width: 0.375rem; // 150px
    display: flex;
    align-items: center;
    margin-right: 1rem;
    @include respond-to-min($tablet) {
      min-width: 9.375rem; // 150px
    }
    @include respond-to-min($desktop) {
      min-width: 9.365rem; // 150px
    }
  }
  &__image {
    width: 100%;
    border-radius: 0.25rem;
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__text {
    margin: 0;
    @include typography($text-med, 400, $bf-black, $text-rg, none, capitalize);
    @include respond-to-min($tablet) {
      @include typography($text-rg, 400, $bf-black, $text-rg, none, capitalize);
    }
    &--bold {
      font-weight: 600;
    }
  }
}
