@use "@/styles/partials/variables" as *;
@use "@/styles/partials/mixins" as *;
@use "@/styles/partials/globals" as *;

.add-comment {
  display: flex;
  border-bottom: 1px solid $mercury;
  padding-bottom: 2rem;
  @include respond-to-min($tablet) {
    align-items: flex-end;
  }
  @include respond-to-min($desktop) {
    padding-right: 2rem;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    &--textarea {
      @include respond-to-min($tablet) {
        flex-grow: 1;
      }
    }
    &--button {
      @include respond-to-min($tablet) {
        align-self: flex-end;
        margin-left: 1rem;
        width: 9.375rem;
      }
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    @include respond-to-min($tablet) {
      flex-direction: row;
    }
  }
  &__image-wrapper {
    display: flex;
    justify-content: center;
    margin: 2rem 1rem 0 0;
  }
  &__label {
    @include typography($text-med, 600, $silver, $text-rg, none, uppercase);
    @include respond-to-min($tablet) {
      @include typography($text-rg, 600, $silver, $text-rg, none, uppercase);
    }
    margin-bottom: 1rem;
  }
  &__textarea {
    background-color: $alabaster;
    border-radius: 0.25rem;
    border: 1px solid $mercury;
    padding: 0.5rem 0.75rem;
    outline: none;
    height: 7rem;
    @include typography($text-med, 400, $bf-black, $text-rg, none, none);
    @include respond-to-min($tablet) {
      @include typography($text-rg, 400, $bf-black, $text-rg, none, none);
      height: 3rem;
      box-sizing: border-box;
    }
    &::placeholder {
      @include typography($text-med, 400, $bf-black, $text-rg, none, none);
      @include respond-to-min(tablet) {
        @include typography($text-rg, 400, $bf-black, $text-rg, none, none);
      }
    }
    &:focus {
      border: 2px solid $bf-blue;
    }
  }
}
