@use "@/styles/partials/variables" as *;
@use "@/styles/partials/mixins" as *;

.header {
  &__logo-wrapper {
    order: 1;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    @include respond-to-min($tablet) {
      margin: 0 15% 0 0;
    }
  }
  &__logo {
    height: 2rem;
  }
}
