@use "@/styles/partials/variables" as *;
@use "@/styles/partials/mixins" as *;
@use "@/styles/partials/globals" as *;

.video-content {
  @include respond-to-min($desktop) {
    display: flex;
  }
  &__left {
    @include respond-to-min($desktop) {
      width: 60%;
      border-right: 1px solid $mercury;
      padding: 2rem 0 0 4rem;
    }
  }
  &__right {
    @include respond-to-min($desktop) {
      padding: 2rem 2rem 0 2rem;
    }
  }
}
