@use "@/styles/partials/variables" as *;
@use "@/styles/partials/mixins" as *;
@use "@/styles/partials/globals" as *;

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 1rem;
  @include respond-to-min($tablet) {
    flex-wrap: nowrap;
    padding: 1rem 2rem;
  }
  .avatar {
    @include respond-to-min($tablet) {
      order: 4;
      margin-left: 1rem;
    }
  }
}
