@use "@/styles/partials/variables" as *;
@use "@/styles/partials/mixins" as *;
@use "@/styles/partials/globals" as *;

.video-player {
  background-color: $bf-dark-black;
  &__video {
    width: 100%;
    aspect-ratio: 16/9;
    @include respond-to-min($desktop) {
      height: 80vh;
    }
  }
}
