@use "@/styles/partials/variables" as *;
@use "@/styles/partials/mixins" as *;
@use "@/styles/partials/globals" as *;

.loading-page {
  height: calc(100vh - 20rem);
  @include respond-to-min($tablet) {
    height: calc(100vh - 5.125rem);
  }
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  &__spinner {
    width: 48px;
    height: 48px;
    display: inline-block;
    position: relative;
    &::after, &::before {
      content: '';  
      box-sizing: border-box;
      width: 48px;
      height: 48px;
      border-radius: 50%;
      border: 2px solid $bf-blue;
      position: absolute;
      left: 0;
      top: 0;
      animation: load 2s linear infinite;
      @keyframes load {
        0% {
          transform: scale(0);
          opacity: 1;
        }
        100% {
          transform: scale(1);
          opacity: 0;
        }
      }
    }
  }
}
