@use "@/styles/partials/variables" as *;
@use "@/styles/partials/mixins" as *;
@use "@/styles/partials/globals" as *;

.video-comments {
  padding: 1rem;
  @include respond-to-min($tablet) {
    padding: 2rem;
  }
  &__text {
    @include typography($text-rg, 600, $bf-black, $text-rg, none, capitalize);
    &--bold {
      font-weight: 600;
    }
  }
}
