@use "@/styles/partials/variables" as *;
@use "@/styles/partials/mixins" as *;
@use "@/styles/partials/globals" as *;

.video-comments {
  padding: 1rem;
  @include respond-to-min($tablet) {
    padding: 1rem 2rem;
  }
  @include respond-to-min($desktop) {
    padding: 0;
  }
  &__text {
    margin: 0 0 2rem 0;
    @include typography($text-med, 600, $bf-black, $text-rg, none, capitalize);
    @include respond-to-min($tablet) {
      @include typography($text-rg, 600, $bf-black, $text-rg, none, capitalize);
    }
    @include respond-to-min($desktop) {
      margin-top: 1rem;
    }
    &--bold {
      font-weight: 600;
    }
  }
}
