@use "@/styles/partials/variables" as *;
@use "@/styles/partials/mixins" as *;
@use "@/styles/partials/globals" as *;

.video-details {
  &__text {
    margin: 0;
    display: flex;
    align-items: center;
    // justify-content: space-between;
    @include typography($text-med, 400, $bf-black, $text-xl, none, none);
    @include respond-to-min($tablet) {
      @include typography($text-rg, 400, $bf-black, $text-xl, none, none);
    }
    &--bold {
      font-weight: 600;
    }
    &--light {
      color: $silver;
    }
    &--icon {
      display: flex;
      align-items: center;
      margin-right: 0.5rem;
    }
  }
  &__title {
    padding: 1.5rem 1rem;
    border-bottom: 1px solid $mercury;
    @include respond-to-min($tablet) {
      padding: 1.5rem 2rem;
      border-bottom: none;
    }
    @include respond-to-min($desktop) {
      padding: 0;
    }
  }
  &__header {
    margin: 0;
    @include typography($text-xl, 700, $bf-black, $text-xxl, none, none);
    @include respond-to-min($tablet) {
      @include typography($text-xxl, 700, $bf-black, $text-xxl, none, none);
    }
  }
  &__content {
    padding: 0 1rem;
    @include respond-to-min($tablet) {
      padding: 0 2rem;
    }
    @include respond-to-min($desktop) {
      padding: 0rem;
    }
  }
  &__wrapper {
    padding: 1rem 0;
    display: flex;
    border-bottom: 1px solid $mercury;
    @include respond-to-min($tablet) {
      justify-content: space-between;
    }
    @include respond-to-min($desktop) {
      padding-right: 2rem;
    }
    &--no-border {
      border: none;
    }
  }
  &__author {
    @include respond-to-min($tablet) {
      display: flex;
      gap: 2rem;
    }
  }
  &__info {
    margin-left: 6rem;
    @include respond-to-min($tablet) {
      display: flex;
      gap: 2rem;
    }
  }
}
